
/*cards */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(149, 7, 27, 0.12);
    border-radius: .25rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 100%;
}

.card-content {
    margin: 1% 2%;
}

.card h2, .card h3 {
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    line-height: 1.2;
    font-weight: 600;
    margin-top: 2%;
}


.card-content p, .card-content li {
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    text-align: left;
    color: #000000;
    line-height: 1.5;
}
.card-content p {
    margin:5%;
}

.docs-home-card {
    text-align:center;
    justify-content: space-around;
    margin:0.5rem;
}

.docs-home-main-card {
    /*height:35rem;*/
    padding-top:5%;
}

.docs-home-main-card i.fa {
    margin-bottom:5%;
    color:#C10E21;
}

.docs-home-sm-card h3 {
    font-size: 1.5rem;
    margin: 0;
    padding:1%;
}

.data-doc-cards {
    justify-content: space-around;
    margin: 1rem 0;
    width:100%;
    /*padding-left: 1%;*/
    height: 100%;
    overflow: scroll;
    align-content: center;
    background: url("../AHA-COVID19-CVD-GWTG/images/molecules_data_sm.png") repeat-y;
}

.data-doc-cards .card-content {
    text-align: left;
    font-size: 1.2em;
    padding-left:50px;
}

.data-doc-cards i.fa {
    margin: 0 0.5em 0.25em 0.5em;
    vertical-align: center;
    color:#C10E21;
    font-size:xx-large;
}

.data-doc-cards h3, .data-doc-cards i.fa {
    display:inline-block;
    color: #C10E21;
}
