/*https://dev.precision.heart.org/documentation/index.html*/

.title-container{
    margin-left:0;
    margin-right:0;
    border: 1px solid rgba(149,14,33,.125);
    /*border-radius: .25rem;*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-image: url("https://precision.heart.org/assets/images/aha-pmp-bg.jpg");
    overflow:scroll;
    height:17rem;
}

.title-container h1, .title-container h2, .title-container h3 {
    color: #ffffff;
    text-align: center;
    font-weight:normal;
}

/*header styling */
.section-header {
    text-align: left;
    display:inline-block;
    width:100%;
    /*padding-bottom: 0;*/
    /*margin-bottom: 0;*/
    /*border: 1px solid rgba(149,14,33,.125);*/
    /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);*/
}

.section-header h2, .section-header  h3, .section-header h4 {
    display:inline-block;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;

}

.section-header i, .collapsible i {
    margin-right:0.5em;
    margin-left: 0.5em;
    display:inline-block;
}

h2 .fa-plus, h2 .fa-minus {
    float:right;
    padding-top:1%;
    padding-right:1%;
    display:inline-block;
}

.section-header span:hover  {
    border-bottom: 2px solid #E11127;
    text-decoration-line: underline;
}

.collapsible .section-header:hover, .collapsible .section-header:hover i, .collapsible .section-header:hover h2 {
    color: #E11127;
}


.red-header, .collapsible .red-header:focus, .collapsible .red-header:hover {
    color:#C10E21;
    border-bottom: 2px solid #6D6E71;
    padding:5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
}

.row {
    margin:0;
}

.grey-header {
    border-bottom: 2px solid #C10E21;
    border-radius: .25rem;
    background-color: #e9ecef;
    width:100%;
}

.torch-header, .torch-header a, .torch-header h2 {
    display: inline-block;
    padding-bottom: 0;
    width: 100%;
    line-height: 2;
    margin:0;
    color: #000000;
}

.torch-header img {
    content: url("https://www.heart.org/-/media/foundation/metadata/aha_logo.png");
    height: 50px;
    float: left;
    /*vertical-align: text-top;*/
    /*padding-bottom: 5px;*/
}

.fa-angle-right, .fa-angle-down {
    background-color: transparent;
    border:none;
    color: #C10E21;
}

.btns-menu {
    padding:0.5rem;
    display:inline-block;
    width:auto;
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}