

.w3-card{
  box-shadow: none !important;
}

#collapsible_sidebar {
    position: sticky;
    margin-top: 0px;
    width: 15rem;
    z-index: 0;
    padding-left: .2rem;
    background: #e9ecef  repeat-y;
    border-right: 1px solid rgba(149, 7, 27, 0.12);
    border-radius: .25rem;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.5);
    height: 100%;
}

#collapsible_sidebar button {
    color: #C10E21;
    font-size: 1.125rem;
    font-weight: bold;
    padding: 0.5rem;
    border: none;
    /*background: #e9ecef;*/
    background: transparent;

}


#collapsible_sidebar button:hover {
    outline: none !important;
    box-shadow: none !important;
}

.sidebar_btn i {}

.sidebar_btn span {
    padding-right: 0.5rem;
    color: #C10E21;
    /*background: #e9ecef url('../getting-started/images/molecules_data_sm.png') repeat-y;*/
    background:transparent none repeat scroll 0 0;
    border: none;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    font-size: 1.2em;
    text-align: left;
    float: left;
}


.sidebar_btn.focus, .sidebar_btn:focus, .toc_btn.focus, .toc_btn:focus {
    outline: none;
    box-shadow: none !important;
}

#sidebar_content {
    padding-left: 1%;
    padding-right: 1%;
    color: #6D6E71;
    /*background: #e9ecef none repeat scroll 0 0;*/
    background:transparent none repeat scroll 0 0;
    width: 95%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    overflow:auto;
}

#toc {
    padding-left: 1rem;
    padding-right: 1%;
    color: #6D6E71;
    /*background: #e9ecef none repeat scroll 0 0;*/
    background:transparent none repeat scroll 0 0;
}

.toc_btn {
    /*background-color: #e9ecef;*/
    background:transparent none repeat scroll 0 0;
    border: none;
}


#sidebar_content li,
#sidebar_content ul,
#sidebar_content ul li {
    display: block;
    list-style: outside none none !important;
    Padding-left: 5px;
    line-height: 1.75;

}

#sidebar_content a {
    color: #6D6E71;
    font-family: Arial, serif;
    font-size: 1.2em;
}

#sidebar_content a:hover {
    color: #C10E21;
}

