

.collapsible:hover h3 {
    /*background-color: #979797;*/
    /*border-bottom: 0.15rem solid #E11127;*/
    text-decoration: underline;
    text-decoration-color: #E11127;
    color:#E11127;
}

.collapsible:hover h3 i.fa-arrows-alt-v {
    background-color: transparent;
    color: #E11127;
}

.collapsible:hover h4 {
    text-decoration: underline;
    text-decoration-color: #4c4c4e;
    color:#4c4c4e;
}
 .fa-caret-right:hover,  .fa-caret-down:hover {
    background-color: transparent;
    color: #C10E21;
}






.heart_torch_header {
    display: inline-block;
    padding-top: .2em;
    padding-bottom: 0;
    width: 100%;
    vertical-align: middle;
}

a {
    color: #3b55e6;
}

a:hover{
    color: #C10E21;
}

a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

