

#pmp_footer_container {
    border-top: 0.2em solid #e3e3e3;
    z-index: 0;
    /*height: 12rem;*/
    position: relative;
    background-color: #e9ecef;
    padding-top:1%;
}


#pmp_footer_container p {
    font-size: 1rem;
    color: #6D6E71;
    text-align: center;
}

#aha_affiliate_logos {
    display: grid;
    justify-content: space-around;
    background-color: #e9ecef;
}

.affiliate_container {
    background-color:#e9ecef;
    justify-content: center;
    height:8rem;
    border-bottom: 1px solid #e3e3e3;
}

.affiliate_text {
    color:#6D6E71;
    text-align: center;
    font-size: 95%;
    padding: 1rem 0 0 1rem;

}

.affiliate_img {
    padding: 0;
    vertical-align: middle;
    text-align: center;

}

